body {
    font-family: 'Arial', sans-serif;
    background-color: #e9e3e3; 
    background-image: url('path-to-your-background-image.jpg'); /* Add the correct path or URL */
    line-height: 1.6;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    color: #333; 
}

h1, h2, h3, h4 {
    color: #007979;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 5px;
}

h4 {
    font-size: 1.1em;
    margin-bottom: 5px;
}

p {
    margin-bottom: 15px;
}

ul {
    margin-bottom: 15px;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

img {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    margin-bottom: 5px;
    margin-right: 5px;
    max-width: 100%; 
    float: left;
}

footer {
    text-align: center;
    color: #bd0000;
    margin-top: 30px;
}

@media screen and (max-width: 600px) {
    body {
        padding: 10px;
    }
}
